.App {
  text-align: center;  
  height: 100vh;
  width:100vw;
  background: #e7e8e9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.music_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.audiotrackwrapper{
  background: #dffbfb;
  border:3px solid #e7e8e9;
  flex:1;
}
.audiotrack {
  background: url('https://i.pinimg.com/474x/2b/ee/76/2bee76b1e82de7e24b2180a76b753ee6--curriculum-audio.jpg') no-repeat;
  flex:1;
  background-size: contain;
  height: 100px;
}
.audiotrackright {
  flex:1;
}